#themeToggle {
	display: true;
}

[data-theme="dark"] .menu-icon-line {
	background-color: #fff;
}

@media print {
	#themeToggle {
		display: none !important;
	}
	.hide-on-print {
		display: none;
	}
	.container > .border {
		border: none !important;
	}
}
